* {
    box-sizing: border-box;
  }
  
h1, h3 {
  text-decoration: underline;
}


body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
  margin-bottom: 50px;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.error-message {
    color: red;
}

.results-list {
  font-size: 20px;
  color: red;
  font-style: bold;
}

#js-max-results {
  width: 10%;
}

#js-search-term, #js-state-term {
  margin-bottom: 20px;
}

#js-state-term {
  width: 7%;
}